<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">        
        <a class="navbar-brand d-flex align-items-center" href="/"><span class="navbar-brand">Início</span></a>
        <form action="/posts/search/" class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="search" placeholder="Busque um post">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
        </form>
        <a class="navbar-brand d-flex align-items-center" href="/posts"><span class="nav-link">Posts</span></a>         
    </div> 
</div>