<div class="d-flex justify-content-end" style="position: absolute; right: 0">
    <a href="/posts/edit/<%=post.id%> " class="d-flex align-items-center">
        <div class="mx-2">
            <svg width="24px" height="24px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"
                aria-labelledby="newIconTitle" stroke="#000000" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" fill="none">
                <path d="M19 14V22H2.99997V4H13" />
                <path
                    d="M17.4608 4.03921C18.2418 3.25817 19.5082 3.25816 20.2892 4.03921L20.9608 4.71079C21.7418 5.49184 21.7418 6.75817 20.9608 7.53921L11.5858 16.9142C11.2107 17.2893 10.702 17.5 10.1716 17.5L7.5 17.5L7.5 14.8284C7.5 14.298 7.71071 13.7893 8.08579 13.4142L17.4608 4.03921Z" />
                <path d="M16.25 5.25L19.75 8.75" />
            </svg>
        </div>
    </a>
    <a href="/posts/delete/<%=post.id%> " class="d-flex align-items-center">
        <div class="mx-1">
            <svg width="24px" height="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 473 473"
                style="enable-background:new 0 0 473 473;" xml:space="preserve">
                <g>
                    <path
                        d="M317.667,214.42l5.667-86.42h20.951V38h-98.384V0H132.669v38H34.285v90h20.951l20,305h140.571
                  c23.578,24.635,56.766,40,93.478,40c71.368,0,129.43-58.062,129.43-129.43C438.715,275.019,385.143,218.755,317.667,214.42z
                  M162.669,30h53.232v8h-53.232V30z M64.285,68h250v30h-250V68z M103.334,403L85.301,128H293.27l-5.77,87.985
                  c-61.031,10.388-107.645,63.642-107.645,127.586c0,21.411,5.231,41.622,14.475,59.43H103.334z M309.285,443
                  c-54.826,0-99.43-44.604-99.43-99.43s44.604-99.429,99.43-99.429s99.43,44.604,99.43,99.429S364.111,443,309.285,443z" />
                    <polygon points="342.248,289.395 309.285,322.358 276.322,289.395 255.109,310.608 288.072,343.571 255.109,376.533 
                  276.322,397.746 309.285,364.783 342.248,397.746 363.461,376.533 330.498,343.571 363.461,310.608 	" />
                </g>
            </svg>
        </div>
    </a>
</div>